configuration{
    modi: "run";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name} {comment} {categories}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-run: "";
    sidebar-mode: true;
}

@theme "spotlight-dark"
